#carousel-example-generic{
   margin-top: 60px;
}
.carousel-control{
	background: none !important;
}
.m-top{
    margin-top: 1rem;
}
.m-top a{
	display: block;
	text-align: center;
	height: 6rem;
	padding-top: 1rem;
	font-size: .8rem;
}
.m-top a p{
	line-height: 1.8rem;
}
.m-top a i{
	font-size: 2.5rem;
}
.m-top1{
	margin-top: 1rem;
}
.m-top1-2{
	margin-top: 1rem;
	font-size: 1rem;
	text-indent: 2em;
	line-height: 150%;
}
.m-top1-2 span{
	color:#ff3300;
}
.m-top1-3{
	font-size: .8rem;
	margin-top: .8rem;
}
.m-top1-3 h4{
	margin-top: 1rem;
	font-weight: bold;
	line-height: 200%;
}
.m-top1-3 p{
	line-height: 150%;
}

.m-top-gy{
	font-size: 2rem;
    text-align: center;
    line-height: 200%;
    font-weight: bold;
}
.m-al-a{
	margin-top: 2rem;
}
.m-al-d{
	display: block;
	height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    color:#222222;
}
.m-anli{
   height: 90rem;
   position: relative;
   overflow-x: hidden;
}
.m-al-ul{
	width: 300%;
    position: absolute;
    top: 0;
}
.m-al-ul li{
	float: left;
}
.m-al-ul-img{
	margin:.5rem 0;
	box-shadow:0px 0px 8px #666666;
}
.m-xinwen{
	height: 5rem;
	margin-bottom:1rem;
	border-bottom: 1px solid #dddddd;
}
.m-xinwen-fl{
	width: 3rem;
	height: 3rem;
	background-color: #dddddd;
	color:#ffffff;
	margin-top: 1rem;
	padding-top: .3rem;
	text-align: center;
}
.m-xinwen-fl p{
	line-height: 120%;
}
.m-xinwen-fr{
	width: 80%;
	line-height: 120%;
	padding-left: 15px;	
	margin-top: .5rem;
}
.m-xinwen-footer{
	display:block;
	width: 100%;
	height: 3rem;
	font-size:1.2rem;
	line-height: 3rem;
	text-align: center;

}




