*{
    margin: 0;
    padding: 0;
}
a{
    -webkit-text-decoration:none ;
    text-decoration:none ;
    -webkit-tap-highlight-color: transparent;
}
i{
    font-size: 0.6rem;
    color: #006c54;
    font-weight:bold ;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#all{
    z-index:200;
    background: rgba(255,255,255,0.3);
}
header{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding:4rem 0 0 1rem ;
//  background:rgba(35,140,210,0.8) ;
    .logo{
        width:4rem;
        display: -webkit-flex;
        .logo_img{
            -webkit-flex:1;
            img{
               display: inline-block;
               width: 2rem;
               height: 2rem;
             
            }
            
        }
        .logo_font{
            -webkit-flex:1;
            color: #888;
           font-size: 1.75rem;
        }
    }
}
section {
    padding-top: 8rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    z-index:200;
    position: fixed;
    from {
        z-index: 888;
        .dl {
             z-index: 888;
            width: 14rem;
            height: 2rem;
            margin: 0.5rem auto;
            //      background:rgba(35,140,210,0.8)  ;
            border-bottom: 0.05rem solid #888;
            line-height: 2rem;
            padding-left: 0.25rem;
            -webkit-box-sizing: border-box;
            .zi {
                font-size: 0.8rem;
                font-weight: bold;
                color: #a3cf62;
            }
            input {
                outline: 0;
                width: 60%;
                height: 1rem;
                background:transparent;
                color:#fff;
            }
            &.user {
                #userId {
                    border: none;
                }
                .other {}
            }
            &.password {
                #passWord {
                    border: none;
                }
            }
        }
        #enter{
            display:block;
            width: 12rem;
            height: 2rem;
            background: #444693;
            margin: 0.2rem auto;
            color: #feeeED;
             border: 0;
        }
        .sign{
            width:14rem;
            height: auto;
            margin:0.2rem auto;
            
            
            ul{
                width: 100%;
                height: auto;
                display: -webkit-flex;
                li{
                    -webkit-flex:1;
                    text-align: center;
                    a{
                        font-size: 0.8rem;
                        color: #795DA3;
                    }
                }
            }
        }
    }
}
footer{
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-break: 3rem;
    text-align: center;
    .foot{
        width: 14rem;
        margin:0 auto;
        padding-top:0.5rem ;
        border-top: 0.05rem solid #888;
        ul{
            width:100%;
            height: 100%;
            display: -webkit-flex;
            li{
                -webkit-flex:1;
                a{
                    i{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .other{
            position: absolute;
            top: -0.5rem;
            left:50% ;
            margin-left: -2rem;
            display: inline-block;
            width: 4rem;
            height: 1rem;
            color: #fff;
            line-height: 1rem;
            font-size: 0.6rem;
            text-align: center;
            background:rgba(255,255,255,0.3);
            z-index: 1000;
            border-radius:8px ;
        }
    }
}
.container {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 0;
    .banner {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        transition: transform 1s;
        li {
            width: 100%;
            height: 100%;
            -webkit-flex-shrink: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}