* { margin: 0; padding: 0; -webkit-box-sizing: border-box; }

a { -webkit-text-decoration: none; text-decoration: none; color: #888; }

i.iconfont { font-size: 1rem; color: #aaa; }

ul { list-style: none; }

body { width: 16rem; height: 100%; }

html { width: 16rem; height: 100%; }

#all { width: 100%; height: 100%; display: -webkit-flex; position: relative; }
#all #all_left { width: 10rem; height: 100%; z-index: 1000; position: absolute; display: -webkit-flex; -webkit-flex-direction: column; background: rgba(0, 0, 0, 0.9); overflow: hidden; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; margin-left: -10rem; }
#all #all_left #right_recove { z-index: 1001; height: 1.6rem; width: 1rem; text-align: center; line-height: 1.4rem; color: white; font-size: 0.8rem; position: absolute; right: 0.05rem; top: 50%; margin-top: -0.8rem; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid rgba(255, 255, 255, 0.5); }
#all #all_left header { width: 100%; -webkit-flex: 3; z-index: 100; }
#all #all_left header h3 { height: 100%; width: 10rem; background: url(../img/bj2.jpg) no-repeat 0px -20px; opacity: 0.5; }
#all #all_left section { -webkit-flex: 12; width: 100%; }
#all #all_left section ul { display: -webkit-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
#all #all_left section ul li { -webkit-flex: 1; padding: 0.5rem 1rem; }
#all #all_left section ul li a { display: -webkit-flex; }
#all #all_left section ul li a span i { font-size: 1rem; }
#all #all_left section ul li a .tu { -webkit-flex: 1; }
#all #all_left section ul li a .zi { -webkit-flex: 4; }
#all #all_left section ul li a .jiao { -webkit-flex: 1; }
#all #all_left footer { width: 100%; line-height: 1.2rem; padding-left: 1rem; -webkit-flex: 1; color: rgba(255, 255, 255, 0.7); padding-top: 0.25rem; border-top: 1px solid rgba(255, 255, 255, 0.7); }
#all #all_left footer a { height: 1.2rem; font-size: 0.8rem; color: rgba(255, 255, 255, 0.7); }
#all #all_right { width: 16rem; height: auto; padding: 0; }
#all #all_right .home_top { width: 100%; height: auto; }
#all #all_right .home_top .lei { width: 16rem; overflow: hidden; display: -webkit-flex; background: #EEEEEE; padding: 0.25rem; }
#all #all_right .home_top .lei li { -webkit-flex: 1; height: 1.6rem; text-align: center; line-height: 1.6rem; border-right: 1px solid #aaa; }
#all #all_right .home_top .lei li:nth-child(3) { border: 0; }
#all #all_right .home_top .lei li a { font-size: 1rem; }
#all #all_right .home_top .lei li a i { color: red; }
#all #all_right .home_top #lbt { width: 15rem; height: 10rem; margin: 0.8rem 0.5rem; overflow: hidden; position: relative; }
#all #all_right .home_top #lbt #lbt_ul { position: absolute; top: 0; left: 0; width: 45rem; height: 10rem; overflow: hidden; }
#all #all_right .home_top #lbt #lbt_ul li { width: 15rem; height: 10rem; float: left; overflow: hidden; }
#all #all_right .home_top #lbt #lbt_ul li a { width: 100%; height: auto; }
#all #all_right .home_top #lbt #lbt_ul li a img { display: block; width: 15rem; height: 10rem; }
#all #all_right .home_top #lbt .swiper-pagination span { width: 0.4rem; height: 0.4rem; }
#all #all_right header { height: 2.8rem; display: -webkit-flex; padding-top: 0.4rem; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0.05rem solid #aaa; }
#all #all_right header .logo { -webkit-flex: 1; text-align: center; height: 1.5rem; line-height: 1.8rem; padding-top: 0.3rem; }
#all #all_right header .logo #myself { display: inline-block; width: 1.5rem; height: 1.5rem; -webkit-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 1.4rem; border: 0.05rem solid #888; overflow: hidden; }
#all #all_right header .logo #myself img { display: inline-block; width: 1.5rem; height: 1.5rem; }
#all #all_right header .gengduo { -webkit-flex: 1; text-align: center; padding-top: 0.3rem; }
#all #all_right header .gengduo i { font-size: 1.4rem; }
#all #all_right header .sousou { -webkit-flex: 6; height: 2rem; border: 2px solid #aaa; -webkit-border-radius: 8px; border-radius: 8px; }
#all #all_right header .sousou a { padding: 0.4rem 0 0 0.5rem; width: 100%; height: 100%; display: -webkit-flex; -webkit-box-sizing: border-box; box-sizing: border-box; }
#all #all_right header .sousou a i { -webkit-flex: 1; height: 1.2rem; }
#all #all_right header .sousou a input { -webkit-flex: 9; height: 1.2rem; border: 0; font-size: 0.8rem; }
#all #all_right section { width: 100%; margin-top: 1rem; height: auto; padding-bottom: 3.2rem; }
#all #all_right section .nei_top { background: #eee; width: 15.5rem; height: 7.5rem; margin: 0.5rem auto; }
#all #all_right section .nei_top div { float: left; text-align: center; -webkit-border-radius: 6px; border-radius: 6px; }
#all #all_right section .nei_top div:nth-child(4) { margin: 0.25rem 0 0 0.5rem; }
#all #all_right section .nei_top div .biaoti1 { margin: 0.5rem 0; height: 1.2rem; width: 100%; font-size: 0.8rem; color: white; text-align: center; line-height: 1.2rem; font-weight: bold; }
#all #all_right section .nei_top div .huodong1 .iconfont { font-size: 4rem; color: white; }
#all #all_right section .nei_top div .biaoti2 { margin: 0.25rem 0; font-size: 0.8rem; color: white; font-size: bold; }
#all #all_right section .nei_top div .huodong2 { padding-top: 0.25rem; }
#all #all_right section .nei_top div .huodong2 .iconfont { font-size: 1.5rem; color: white; }
#all #all_right section .nei_top .nei_top_big { margin-right: 0.25rem; background: rgba(68, 70, 147, 0.8); width: 7.5rem; height: 7.5rem; }
#all #all_right section .nei_top .nei_top_center { margin: 0 0 0.25rem 0.25rem; width: 7.5rem; height: 3.5rem; background: rgba(144, 186, 167, 0.8); display: -webkit-flex; }
#all #all_right section .nei_top .nei_top_center .huodong2 { -webkit-flex: 6; display: inline-block; height: 100%; line-height: 3rem; }
#all #all_right section .nei_top .nei_top_center .huodong2 .iconfont { font-size: 2rem; color: red; }
#all #all_right section .nei_top .nei_top_center .biaoti1 { height: auto; -webkit-flex: 4; padding-left: 0.3rem; font-size: 0.8rem; font-weight: bold; }
#all #all_right section .nei_top .nei_top_little1 { padding-top: 0.25rem; margin: 0.25rem 0 0 0.25rem; background: rgba(0, 154, 214, 0.9); width: 3.5rem; height: 3.5rem; }
#all #all_right section .nei_top .nei_top_little2 { padding-top: 0.25rem; margin: 0.25rem 0 0 0.25rem; background: none; width: 3.5rem; height: 3.5rem; overflow: hidden; position: relative; top: 0; left: 0; }
#all #all_right section .nei_top .nei_top_little2 .nei_top_little2_ul { height: 7rem; width: 100%; position: absolute; top: 0px; left: 0; -webkit-transition: all 2s; -o-transition: all 2s; transition: all 2s; -webkit-animation: shangxia 12s infinite linear; animation: shangxia 12s infinite linear; }
#all #all_right section .nei_top .nei_top_little2 .nei_top_little2_ul li { color: #fff; }
#all #all_right section .nei_top .nei_top_little2 .nei_top_little2_ul li:nth-child(1) { background: #fa2800; width: 100%; height: 3.5rem; }
#all #all_right section .nei_top .nei_top_little2 .nei_top_little2_ul li:nth-child(2) { background: #7fb80e; height: 3.5rem; width: 100%; }
#all #all_right section .nei_bottom { width: 15.5rem; height: 7.5rem; margin: 0.5rem auto; }
#all #all_right section .nei_bottom div { -webkit-border-radius: 6px; border-radius: 6px; float: left; text-align: center; }
#all #all_right section .nei_bottom div .biaoti1 { margin: 0.45rem 0; height: 1.2rem; width: 100%; font-size: 0.8rem; color: white; font-weight: bold; text-align: center; line-height: 1.2rem; }
#all #all_right section .nei_bottom div .huodong1 .iconfont { font-size: 4rem; color: white; font-weight: 800; }
#all #all_right section .nei_bottom div .biaoti2 { margin: 0.25rem 0; font-size: 0.8rem; color: white; font-size: bold; }
#all #all_right section .nei_bottom div .huodong2 { padding-top: 0.25rem; }
#all #all_right section .nei_bottom div .huodong2 .iconfont { font-size: 1.5rem; color: white; }
#all #all_right section .nei_bottom .nei_bottom_big { position: relative; background: none; margin: 0 0.125rem 0; width: 7.5rem; height: 7.5rem; }
#all #all_right section .nei_bottom .nei_bottom_big div { width: 100%; height: 100%; margin: 0; position: absolute; -webkit-transition: all 2s; -o-transition: all 2s; transition: all 2s; left: 0px; top: 0px; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
#all #all_right section .nei_bottom .nei_bottom_big .box1 { z-index: 10; background: #2a5caa; -webkit-animation: fangunz 6s infinite linear; animation: fangunz 6s infinite linear; }
#all #all_right section .nei_bottom .nei_bottom_big .box2 { background: #a3cf62; -webkit-transform: rotateX(-180deg); transform: rotateX(-180deg); -webkit-animation: fangunf 6s infinite linear; animation: fangunf 6s infinite linear; }
#all #all_right section .nei_bottom .nei_bottom_center { margin-right: 0.25rem; width: 3.75rem; height: 7.5rem; background: rgba(245, 143, 152, 0.7); }
#all #all_right section .nei_bottom .nei_bottom_center .huodong2 .iconfont { font-size: 2.1rem; color: #fffef9; }
#all #all_right section .nei_bottom .nei_bottom_little1 { background: gold; width: 3.5rem; height: 3.5rem; margin: 0 0 0.25rem 0.25rem; }
#all #all_right section .nei_bottom .nei_bottom_little2 { margin: 0.25rem 0 0 0.25rem; background: rgba(237, 15, 148, 0.9); width: 3.5rem; height: 3.5rem; }
#all #all_right footer { border-top: 0.05rem solid #eee; position: fixed; bottom: 0; left: 0; width: 100%; height: auto; background: white; z-index: 999; }
#all #all_right footer ul { height: 100%; display: -webkit-flex; }
#all #all_right footer ul li { -webkit-flex: 1; height: 100%; padding: 0.25rem 0; }
#all #all_right footer ul li:nth-child(3) { background: rgba(0, 0, 0, 0.8); color: rgba(255, 255, 255, 0.7); }
#all #all_right footer ul li a { text-align: center; }
#all #all_right footer ul li a .zi { font-size: 0.8rem; }
#all #all_right footer ul li a span { display: inline-block; width: 100%; margin-top: 0.05rem; font-size: 0.8rem; }
#all #all_right footer ul li a span i { font-size: 1.2rem; }

@-webkit-keyframes fangunz { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  50% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); } }
@keyframes fangunz { 0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  50% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); } }
@-webkit-keyframes fangunf { 0% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
  50% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); } }
@keyframes fangunf { 0% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
  50% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); } }
@-webkit-keyframes shangxia { 0% { top: 0; }
  25% { top: -3.5rem; }
  50% { top: -3.5rem; }
  75% { top: 0; }
  100% { top: 0; } }
@keyframes shangxia { 0% { top: 0; }
  25% { top: -3.5rem; }
  50% { top: -3.5rem; }
  75% { top: 0; }
  100% { top: 0; } }

/*# sourceMappingURL=home.css.map */
